@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  width: 100%;
  margin-top: 7px;
}

.login-button {
  margin: 0 auto;
  width: 35%;
}

.login-button:hover {
  cursor: pointer;
}

.login-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register {
  text-align: center;
}

.wrong-password, .register-error {
  color: red;
  font-size: 1.025rem;
}